body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 0;
}
.right-column {
  height: 85vh;
}

h1 {
  color: #b878b3;
}

a {
  text-decoration: none;
  color: #de73a7;
}

.navbar {
  background-color: #d0afd2;
}

#logo {
  width: 8%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-icons {
  width: 15%;
}

.offcanvas {
  background-color: #de73a7;
}


/* Gallery */
#gallery { position:relative; }
#gallery-image { position:relative; width:100%; padding-bottom:100%; background-color:#b878b3; background-size:cover; }
#gallery-image button
{
	font-size:0;
	border:none;
	position:absolute;
	width:15%;
	height:100%;
	padding:0;
	background:transparent;
	overflow:hidden;
}
#gallery-image button.prev { left:0; }
#gallery-image button.next { right:0; }

#gallery-image button::before
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	background-position:center;
	background-size:100% auto;
	background-repeat:no-repeat;
	transition:all ease 800ms;
}
#gallery-image button:hover::before { transition:all ease 200ms; opacity:1; margin-left:0 !important; }
#gallery-image button.prev::before { margin-left:-100%; background-image:url('../images/gallery-prev.svg'); }
#gallery-image button.next::before { margin-left:100%; background-image:url('../images/gallery-next.svg'); }

#gallery-list { position:relative; width:100%; margin:0; padding:8px 0; list-style:none; }
#gallery-list li { position:relative; display:inline-block; margin:0 8px 0 0; padding:0 0 15%; width:15%; }
#gallery-list a { display:block; position:absolute; width:100%; height:100%; top:0; background-color:#d0afd2; background-position:center; background-size:auto 100%; transition:all ease 800ms; }
#gallery-list a:hover { background-size:auto 120%; transition:all ease 300ms; }
#gallery-list img { display:none; }