body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 0;
}
.right-column {
  height: 85vh;
}

h1 {
  color: #b878b3;
}

a {
  text-decoration: none;
  color: #de73a7;
}

.navbar {
  background-color: #d0afd2;
}

#logo {
  width: 8%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-icons {
  width: 15%;
}

.offcanvas {
  background-color: #de73a7;
}


/* Gallery */
#gallery { border:solid 1px red; position:relative; }
#gallery-image { border:solid 1px blue; position:relative; height:320px; }
#gallery-image button { background:red; border:none; position:absolute; width:30px; height:100%; padding:0; transition:all ease 600ms; }
#gallery-image button:hover { transition:all ease 300ms; }
#gallery-image button.prev { left:0; }
#gallery-image button.next { right:0 }